@import "tailwindcss";

@theme {
    /* Fonts */
    --font-inter-sans: 'Inter', sans-serif;

    /* Colors */
    --color-primary-header: #060776;

    --color-primary-dc: #0476F2;
    --color-primary-marvel: #ED1D24;

    --color-btn: #3949AB;
    --color-btn-hover: #3A4487;

    --color-btn-filter: #F0F1FA;
    --color-btn-filter-hover: #DFE1F5;

    --breakpoint-xs: 540px;
    --breakpoint-2xs: 480px;
}

@layer base {
    html {
        font-family: var(--font-inter-sans);
    }

    body {
        background-color: #f5f5f5;
    }
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.remove-arrow {
    -moz-appearance: textfield;
    appearance: textfield;
}